<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="https://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
https://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- This is our bean -->

<bean class="com.edubridge.springcore.Student" name="student1">
	<property name="studentId">
		<value>22344</value>
	</property>
	
	<property name="studentName">
		<value>Chaitanya Tribhuwan</value>
	</property>
	
	<property name="studentAddress">
		<value>Pune</value>
	</property>

</bean>

</beans>